{% extends "html/base.html" %}

{% block app_content %}

  <div class="container-fluid">



    <div class="row">
      <div class="col-lg-12">
        <nav id="units-header" class="navbar navbar-default navbar-static">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#units-dropdown">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=#>Units</a>
          </div>
          <div class="collapse navbar-collapse" id="units-dropdown">
            <ul class="nav navbar-nav navbar-right">
              <li id="units-menu" class="dropdown">
                <a id="units-drop" href=# class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Choose<span class="caret"></span> </a>
                <ul class="dropdown-menu" aria-labelledby="units-drop">
                  <li><a href="#">Oil production</a></li>
                  <li><a href="#">Gas production</a></li>
                  <li><a href="#">Water porudction</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <hr style="margin: 0px;"/>
    <div class="row">
      <div class="col-lg-12">
        {{ prod_units_script|safe }}
        {{ prod_units_div|safe }}
      </div>
    </div>

    <hr style="margin: 0px;"/>
    <br>


    <div class="row">
      <div class="col-lg-12">
        <nav id="wells-header" class="navbar navbar-default navbar-static">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#wells-dropdown">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=#>Wells</a>
          </div>
          <div class="collapse navbar-collapse" id="units-dropdown">
            <ul class="nav navbar-nav navbar-right">
              <li id="wells-menu" class="dropdown">
                <a id="wells-drop" href=# class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Choose <span class="caret"></span> </a>
                <ul class="dropdown-menu" aria-labelledby="units-drop">
                  <li><a href="#">Oil production</a></li>
                  <li><a href="#">Gas production</a></li>
                  <li><a href="#">Water porudction</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <hr style="margin: 0px;"/>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover table-bordered table-condensed">
          <tr>
            <th>Well name</th>
            <th>Unit</th>
            <th>GOR</th>
            <th>WC</th>
            <th>Oil production</th>
            <th>Gas production</th>
            <th>Water production</th>
            <th>Chart</th>
          </tr>
          {% for plot in table_plots %}
            <tr>
              <td>Well name</td>
              <td>Unit</td>
              <td style="background-color: #fcf8e3;"> </td>
              <td>WC</td>
              <td style="width:200px">{{ plot.1|safe }} {{ plot.2|safe }}</td>
              <td>Oil production</td>
              <td>Gas production</td>
              <td>Water production</td>
            </tr>
          {% endfor %}
        </table>

      </div>
    </div>



  </div>






{% endblock app_content %}
